{
  "env": {
    "node": true,
    "browser": false
  },
  "globals": {"Promise": true},
  "plugins": ["import"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "strict": "off"
  }
}
